<template name="shareit_google">
{{#if useLarge}}
  <a class="large btn btn-google google-share {{#if useResponsive}}responsive{{/if}}" href="https://twitter.com/intent/tweet?url={{url}}&text={{text}}"
      onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
      <i class="fa fa-google-plus"></i> Share on Google+
  </a>
{{/if}}
{{#if useSmall}}
<a class="small btn-google google-share {{#if useResponsive}}responsive{{/if}}" href="https://twitter.com/intent/tweet?url={{url}}&text={{text}}"
    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
  <i class="fa fa-google-plus"></i>
</a>
{{/if}}
</template>
