.share-buttons {
  transform: scale(0.75);
  a:hover {
    text-decoration: none;
  }

  .shareit-facebook-colors {
    background: #3B5998;
    color: #fff;
  }

  .shareit-twitter-colors {
    color: #fff;
    background: #4099FF;
  }

  .shareit-google-colors {
    color: #4285F4;
    background: white;
    border: 1px solid #4285F4;
  }

  .shareit-pinterest-colors {
    color: #fff;
    background: #D34836;
  }

}
